.outerdiv{
    position: relative;
    flex: 1;
    border-right: 1px solid lightgrey;
    height: 200px;
    height: 100vh;
    padding-top: 20px;
}

.outerdiv.close{
  position: fixed;
  right: 0px;
  width: 100px;
  height: 100vh;
  background-color: red;
}

.innerdiv{

}

.memberchild{ 
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profilePhoto{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.leaveButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
}